.section_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section_user p{
    font-size: xx-large;
}
img{
    margin: 8px;
    width: 45px;
    border-radius: 50%;
}